.Wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

.Name-Field{
    width:"48%";
    margin-right: "2%";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}